@font-face {
    font-family: 'Zen Maru Gothic';
    src: url('/font/ZenMaruGothic-Medium.ttf')format('truetype');
}

*{
    font-family: 'Zen Maru Gothic';
}

body {
    overflow: hidden;
    position: relative;
    margin: 0;
    height: 100vh;
    background-color: #F9F9F9;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    background-color: #DAEBF2;
}

button{
    width: 80px;
    height: 45px;
    font-size: 16px;
    background-color: #8EAFBC;
    color: #F9F9F9;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:active {
        transform: translate(0em, 0.15em);
    }
}

/* 戻る・閉じるボタン */
.back_btn{
    background-color: #BC8E8E;
}

p{
    margin: 0;
}

textarea , input{
    padding: 8px;
    resize: none;
    background-color: #BECED5;
    border: none;
    border-radius: 10px;
}

dialog{
    position: absolute;
    width: 350px;
    padding: 0;
    background-color: #ffff;
    border: #8EAFBC 3px solid;
    border-radius: 10px;

    &::backdrop {
        transition:  0.2s ease-in;
      }
      &.show {
        opacity: 1;
        &::backdrop {
            background-color: rgba(0, 0, 0, 0.551);
        }
    }
}


footer{
    width: 75vw;
    margin: 3vh auto 0;
  
    #Setting_Btn{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
}

/* menu icon */
#header-img {
    height: 100%;
    margin-left: 2vw;
}

header a {
    height: 100%;
    text-decoration: none;
}

.header_icon{
    width: 45px;
}

#header_logo a {
    height: 45px;
}

#header_logo {
    display: flex;
    gap: 25px;
    margin-right: 2vw;
}

/* ページタイトル */
#page_title{
    text-align: center;
    font-size: 35px;
    margin: 2.5vh 0px;
}

/* mypage dialog */

/* メニューアイコンのボタンstyle設定 */
.menu_icon{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    box-shadow: none;
}

#myPageDialog{
    width: 320px;
    text-align: center;
}

#setting_item{
    margin: 35px;
}

#setting_content{
    margin-bottom: 5%;
}

#setting_content{
     button{
        width: 150px;
        height: 60px;
        margin-bottom: 40px;
        font-size: 20px;
    }
    
    #logout{
        width: 110px;
        height: 50px;
        font-size: 18px;
    }
}


