@font-face {
    font-family: 'Zen Maru Gothic';
    src: url('ZenMaruGothic-Regular.ttf')format('truetype');
}

body {
    margin: 0;
    height: 100vh;
    background-color: #F9F9F9;
    font-family: 'Zen Maru Gothic';
}

header {
    width: 100%;
    height: 8vh;
    background-color: #DAEBF2;
}

#header-img {
    height: 100%;
    margin-left: 2vw;
}

