/* main要素 */
main {
    width: 100%;
    height: 85%;
    /* 余白をつける */
}

/* ブースト表示 */
#boost {
    position: absolute;
    top: 13%;
    left: 80%;
    background-color: #8EAFBC;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 220px;
    height: 40px;
    padding: 5px 20px;
    border-radius: 10px;
}

.boost_text {
    color: #F4F4F4;
}

.boost_text p {
    font-weight: 600;
}

.boost_text span {
    float: right;
    font-weight: 100;
    font-size: xx-small;
}

#boost_num {
    position: relative;
    top: -120%;
    height: 120%;
    font-size: 80px;
    color: #C45252;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 0 #000000, -1.5px -1.5px 0 #000000,
                -1.5px 1.5px 0 #000000, 1.5px -1.5px 0 #000000,
                0px 1.5px 0 #000000,  0 -1.5px 0 #000000,
                -1.5px 0 0 #000000, 1.5px 0 0 #000000;
}

/* 混雑情報 */
#flex_item{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 13vw;
}


/* 混雑情報入力ボタン */
#congestion {
    display: flex;
    align-items: flex-end;
    margin-top: 3vh;
}

.congestion_situation{
    width: 55px;
    height: 130px;
    margin: 0 10px;
    padding: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #F9F9F9;
    border-radius: 45px;
    font-size: 20px;
}



/* ブーストボタン */
#boost-btn button {
    margin-left: 5vw;
}


/* 切り替えボタン */
#toggle-btn{
    margin-left: 5vw;
}

#toggle {
    position: relative;
    top: -15px;
    width: 100px;
    height: 35px;
    text-align: center;
    color: #000000;
    font-size: 16px; 
    border: none;
    border-radius: 10px;
    border: 2px solid #8EAFBC;
}


/* 予約状況かレビュー */
#content {
    position: relative;
    width: 100vw;
}

.main_content{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;

}

/* 予約状況 */
#reservation_view{
    height: 55vh;
    border: 4px solid #8EAFBC;
    border-radius: 10px;
}

#reservation_table{
    width: 100%;
    height: 100%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
}

#reservation_table tr{
    width: 100%;
    height: calc(100% / 8);
}

#reservation_time{
    border-bottom: 3px solid #8EAFBC;
}

.boder{
    border-right: #8EAFBC 2px solid;
}

#reservation_time th span{
    font-size: 30px;
    font-weight: 100;
}

#reservation_time td div{
    width: 95%;
    height: 95%;
}


.reservation_status{
    background-image : linear-gradient(to right, #8EAFBC, #8EAFBC 3px, transparent 3px, transparent 8px);  /* 幅2の線を作る */
    background-size: 10px 1px;          /* グラデーションの幅・高さを指定 */
    background-position: left bottom;  /* 背景の開始位置を指定 */
    background-repeat: repeat-x;       /* 横向きにのみ繰り返す */
}


/* ダイアログ */
#dialog_container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.dialog_item{
    margin: 40px 0;
}

#dialog_time{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#boostDialog p{
    font-size: 18px;
}

#boostDialog span{
    margin: 0 10px;
    font-size: 30px;
}

#great_text{
    width: 100%;
    height: 60px;
}

#situation_text{
    width: 100%;
    height: 80px;
}

/* 時間入力欄 */
#boostDialog input[type="time"]{
    height: 35px;
    background-color: #ffffff00;
    font-size: 30px;
    font-family: 'Zen Maru Gothic';
    border: none;
}
  
input[type="time"]::-webkit-calendar-picker-indicator {
margin: 0;
background: none;
position: absolute;
width: 65px;
height: 35px;
}

/* ブーストボタン */
#dialog_Btn{
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
}

#dialog_Btn button{
    font-size: 16px;
}

.back_btn{
    background-color: #BC8E8E;
}

/* 設定ダイアログ */
#Setting{
    width: 300px;
    top: 25%;
    text-align: center;
}

#setting_item{
    margin: 50px;
}

#setting_content{
    margin-bottom: 10%;
}

#setting_content button{
    width: 150px;
    height: 60px;
    margin-bottom: 40px;
    font-size: 20px;
}

/* jsで変更されるスタイル */
.none{
    background-color: #A7DDA3;
}

.some{
 background-color: #EAB685;
}

.full{
    background-color: #EA8585;
}

.congestion_small{
    background-color: #A0A0A0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
}


/* 選択中は大きく */
.congestion_Big {
    width: 85px;
    height: 200px;
    font-size: 30px;
    font-weight: 500;
    margin: 0 10px;
}