main {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#title-img {
    width: 500px;
    height: auto;
}

.select-btn {
    width: 200px;
    height: 50px;
    background-color: #8EAFBC;
    color: #F9F9F9;
    border-radius: 10px;
}

#login-dialog {
    width: 400px;
    height: 50%;
    background-color: #F9F9F9;
    border-radius: 10px;
}