body {
    margin: 0;
    height: 100vh;
}

header {
    background-color: #DAEBF2;
    height: 15%;
}

#header-img {
    width: 300px;
    height: 100px;
}

main {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#title-img {
    width: 500px;
    height: auto;
}

button {
    width: 200px;
    height: 50px;
    background-color: #8EAFBC;
    color: #F9F9F9;
    border-radius: 10px;
}

login-dialog {
    width: 300px;
    height: 300px;
    background-color: #F9F9F9;
    border-radius: 10px;
}