body {
    margin: 0;
    height: 100vh;
}

header {
    background-color: #DAEBF2;
    height: 15%;

}


#header-img {
    width: 300px;
    height: 100px;
}


main {
    height: 70%;
    /* 余白をつける */
    gap: 10px;
}

/* 入力項目（親元） */
div {
    /* 要素を縦並びにする */
    display: flex;
    flex-direction: column;
    /* 真ん中よせ */
    justify-content: center;
    align-items: center;
    /* 余白をつける */
    gap: 10px;
}

/* 入力ラベル */
label {
    /* ラベルのフォントの変更 */
    font-size: 30px;
}

/* 入力項目 */
input {
    /* テキストボックスの幅を指定する */
    width: 300px;
    height: 30px;
    border-radius: 20px;
    /* テキストボックスの枠線のデザインの変更 */
    border: 1px solid #BECED5;
    background-color: #BECED5;
    /* テキストボックスのフォントの変更 */
    font-size: 30px;
    /* 真ん中よせ */
    text-align: center;
    /* 余白をつける */
    margin-bottom: 10px;

}

/* 次へボタン */
button {
    width: fit-content;
    height: fit-content;
    padding: 0 5px;
    border-radius: 20px;
    border: 1px solid #BECED5;
    background-color: #BECED5;
    font-size: 30px;
    margin-left: 60px;
    /* 余白をつける */
    margin-bottom: 10px;
}